body{
	position: relative;
}
.isSxj.active{
	background: #428bca;
	color: white;
}
.myContent{
	min-height: 1000px;
}
#editDetail{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background: rgba(1,1,1,0.5);
	width: 100%;
	z-index: 100;
	display: none;
}
#editDetail iframe{
	margin-left: 0;
	
}
.content {
	font-size:16px;
	background:#f5f5f5 url(../images/bg.png) left top repeat;
}
#breadcrumb {
	background-color: #fff;
	border-bottom: 1px solid #e3ebed;
	height: 38px;
	line-height: 38px;
	padding-left: 10px;
	margin-bottom:20px;
	font-size:16px;
}

.myDate{
	padding-left: 5px;
}

.detail-wrapper{
	width: 98%;
	margin: 0 auto;
	background: #fff;
	padding: 10px
}
.detail-wrapper .search,.detail-wrapper .tab{
	margin-bottom: 10px;
}
.detail-wrapper .search select,.detail-wrapper .search input{
	height: 35px;
	vertical-align: top;
}
.detail-wrapper .search input{
	padding-left: 5px;
	width: 20%;
}

.detail-wrapper .tab div{
	display: inline-block;
}
.detail-wrapper .tab .date{
	margin-left: 60px;
}
.detail-wrapper .tab .date input{
	height: 30px;
}
.detail-wrapper .tab .state{
	margin-left: 30px;
}

.detail-wrapper .detail table{
	text-align: center;
	width: 100%;
}
.detail-wrapper .detail table thead td{
	height: 40px;
	background: #428bca;
	color: #fff;
}
.detail-wrapper .detail table thead td:last-child{
	width: 200px;
}
.detail-wrapper .detail table .selectAll{
	vertical-align: top;
	margin-right: 5px;
}
.detail-wrapper .detail table input[type=checkbox]:hover{
	cursor: pointer;
}
.detail-wrapper .detail table tbody tr{
	border-bottom: 1px solid #DFDFDF;
}
.detail-wrapper .detail table tbody td{
	height: 100px;
	padding: 10px 0;
}

.detail-wrapper .detail .myPager{
	text-align: center;
}

.detail-wrapper .detail .pageDesc{
	margin-bottom: 20px;
	text-align: center;
}

.detail-wrapper .detail .pageDesc .proNumber,.detail-wrapper .detail .pageDesc .totalPager{
	color: #428bca;
}
