*,html,body{
	margin: 0;
	padding: 0;
}

#breadcrumb {
	background-color: #fff;
	border-bottom: 1px solid #e3ebed;
	height: 38px;
	line-height: 38px;
	padding-left: 10px;
	margin-bottom:20px;
	font-size:16px;
}

.main-wrapper {
	width: 99%;
	margin: 0 auto;
}

.tip-wrapper {
	background-color: #fff;
	padding: 10px;
	border-radius: 5px;
}

.content-wrapper {
	display: flex;
	margin-top: 10px;
}

/* 左 */

.left-wrapper {
	flex: 0 0 300px;
	width: 300px;
	background: #fff;
	margin-right: 10px;
	border-radius: 5px;
	padding: 5px 10px;
	min-height: 500px;
}

.left-wrapper .edit{
	width: 20px;
	margin-left: 20px;
	opacity: 0.8;
}
.left-wrapper .edit:hover{
	opacity: 1;
}

.left-wrapper .new-kind{
	text-align: center;
	margin-bottom: 10px;
}

.left-wrapper .kind-list{
	text-align: center;
}

.left-wrapper .kind-list li {
	list-style: none;
	font-size: 16px;
	padding: 10px 5px;
	border-bottom: 1px solid #ececec;
	position: relative;
}
.left-wrapper .kind-list li li{
	color: #428bca
}

.left-wrapper .kind-list li:last-child{
	border-bottom: none;
}

.left-wrapper .kind-list li:hover{
	cursor: pointer;
	background: #DEDDDD;
}
.left-wrapper .kind-list li .kind-name{
	flex: 1;
}
.left-wrapper .kind-list li .icon-my{
	width: 21px;
	height: 21px;
	display: inline-block;
	border-radius: 50%;
	color: white;
	opacity: 0.8;
	font-style: normal;
	position: absolute;
}
.left-wrapper .kind-list li .icon-add{
	background: #5cb85c;
	left: 10px;
}
.left-wrapper .kind-list li .icon-close{
	background: #F85656;
	right: 10px;
}
.left-wrapper .kind-list li .icon-my:hover{
	opacity: 1;
}

.left-wrapper .kind-list li ul{
	width: 80%;
	margin: 0 auto;
	display: none;
}

/* 右 */

.right-wrapper {
	flex: 1;
	background: #fff;
	border-radius: 5px;
	padding: 5px 10px;
}

.right-wrapper .kind-detail{
	margin: 10px 0;
	overflow-y: auto;
}
.right-wrapper .kind-detail table{
	width: 100%;
	text-align: center;
	font-size: 15px;
}
.right-wrapper .kind-detail table .select-all{
	margin-right: 5px;
	vertical-align: top;
}
.right-wrapper .kind-detail table input[type="checkbox"]:hover{
	cursor: pointer;
}

.right-wrapper .btn-list{
	margin: 20px 0;
}

.right-wrapper .kind-detail table thead td{
	background: #5bc0de;
	color: white;
	height: 40px;
	border-right: 1px solid white;
}
.right-wrapper .kind-detail table thead td:first-child{
	width: 150px;
}
.right-wrapper .kind-detail table thead td:last-child{
	border-right: none;
}

.right-wrapper .kind-detail table tbody tr{
	border-bottom: 1px solid #ececec;
}
.right-wrapper .kind-detail table tbody tr:last-child{
	border-bottom: none;
}

.right-wrapper .kind-detail table tbody td{
	height: 100px;
	padding: 10px 0;
}

.right-wrapper .kind-detail table tbody td .pic{
	height: 100%;
}

#changeKind .kind input[type=checkbox]{
	vertical-align: top;
	margin-left: 10px;
	margin-right: 1px;
}

#changeKind .kind input[type=checkbox]:hover{
	cursor: pointer;
}

#changeKind .kind{
	max-height: 500px;
	overflow-y: auto;
}
#changeKind .kind table{
	/* width: 100%; */
}
#changeKind .kind tr td{
	padding: 5px;
}

