<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>珠宝图鉴后台管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="css/matrix-style.css" />
    <link rel="stylesheet" href="css/matrix-media.css" />
    <link rel="stylesheet" href="font-awesome/css/font-awesome.css" />
  </head>
  <body>
    <div id="header"><h1>珠宝图鉴后台管理系统</h1></div>

    <div id="user-nav" class="navbar navbar-inverse" style="right: 0px; top: 0px">
      <ul class="nav">
        <li class="dropdown" id="profile-messages">
          <a title="" href="#">
            <i class="icon icon-user"></i>&nbsp;
            <span class="text" th:text="'欢迎你, '+${session.user}">欢迎你，admin</span>&nbsp;</a></li>
        <li class="">
          <a title="" href="logout">
            <i class="icon icon-share-alt"></i>
            <span class="text">&nbsp;退出系统</span></a>
        </li>
      </ul>
    </div>

    <div id="sidebar" style="OVERFLOW-Y: auto; OVERFLOW-X:hidden;">
      <ul>
        <li class="submenu">
          <!-- <a href="#">
            <i class="icon icon-table"></i>
            <span>产品管理</span>
            <span class="label label-important">1</span></a> -->
            <a class="menu_a" link="web/products.html"><i class="icon icon-table"></i>产品管理</a>
            <!-- <ul style="display:none;">
              <li>
                <a class="menu_a" link="web/products.html"><i class="icon icon-caret-right"></i>产品库</a>
              </li>
              <li>
                <a class="menu_a" link="web/edit_product.html"><i class="icon icon-caret-right"></i>产品编辑</a>
              </li>
              <li>
                <a class="menu_a" link="web/product_category_mgr.html"><i class="icon icon-caret-right"></i>产品分类管理</a>
              </li>
            </ul> -->
        </li>
        <li>
          <a class="menu_a" link="web/promotion_category.html"><i class="icon icon-bullhorn"></i>推广类别</a>
        </li>
        <li>
          <a class="menu_a" link="web/img-center.html"><i class="icon icon-camera-retro"></i>图片中心</a>
        </li>
        <li class="submenu">
          <a href="#">
            <i class="icon icon-cloud"></i>
            <span>首页定制</span>
            <span class="label label-important">5</span></a>
            <ul>
              <li>
                <a class="menu_a" link="web/promotion_highspeed.html"><i class="icon icon-caret-right"></i>快捷推广</a>
              </li>
              <li>
                <a class="menu_a" link="web/promotion_display.html"><i class="icon icon-caret-right"></i>推广展示</a>
              </li>
              <li>
          		    <a class="menu_a" link="web/carousel.html"><i class="icon icon-caret-right"></i>首页轮播</a>
              </li>
              <li>
          		    <a class="menu_a" link="web/pagefooter.html"><i class="icon icon-caret-right"></i>联系我们</a>
              </li>
              <li>
                  <a class="menu_a" link="web/promotion_startsetting.html"><i class="icon icon-caret-right"></i>启动推广设置</a>
              </li>
            </ul>
        </li>
        <!-- <li class="submenu">
          <a href="#">
            <i class="icon icon-shopping-cart"></i>
            <span>销售管理</span>
            <span class="label label-important">3</span></a>
            <ul>
              <li>
                <a class="menu_a" link="web/sale_man_manage.html"><i class="icon icon-caret-right"></i>销售人员管理</a>
              </li>
              <li>
                <a class="menu_a" link="web/sale_team_manage.html"><i class="icon icon-caret-right"></i>销售团队管理</a>
              </li>
              <li>
          		    <a class="menu_a" link="web/position_setting.html"><i class="icon icon-caret-right"></i>职位和权限设置</a>
              </li>
            </ul>
        </li> -->
        <li class="submenu">
          <a class="menu_a" link="web/customer_manage.html"><i class="icon icon-group"></i>客户管理</a>
        </li>
         <li class="submenu" th:attr="style=${session.admin}">
              <a href="#">
                <i class="icon icon-phone"></i>
                <span>系统管理</span>
                <span class="label label-important">2</span></a>
                <ul>
                  <li>
                    <a class="menu_a" link="web/Androidapp.html"><img src="img/androidico.png" style="width:13px;margin-top:-3px;"/>   安卓APP</a>
                  </li>
                  <li>
                    <a class="menu_a" link="web/data_display.html"><i class="icon icon-bar-chart"></i>数据总览</a>
                  </li>
                  <li style="display:none">
                    <a class="menu_a" link="web/IOSapp.html"><img src="img/appleappicon.png" style="width:13px;margin-top:-5px;"/> 苹果IOS APP</a>
                  </li>
                </ul>
          </li>
          <li class="submenu">
            <a class="menu_a" link="web/order_manage.html"><i class="icon icon-check"></i>订单管理</a>
          </li>

      </ul>
    </div>

    <div id="content" style="height:100%">
      <iframe src="web/products.html" id="iframe-main" frameborder='0' style="width:100%;min-height:104%;"></iframe>
    </div>

    <script src="js/excanvas.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.ui.custom.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/matrix.js"></script>
    <script src="js/http.js"></script>
    <script src="js/jsonlist.js"></script>
  </body>
</html>
