<html xmlns:th="http://www.w3.org/1999/xlink">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>珠宝图鉴后台管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="css/matrix-login.css" />
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />

</head>
<body>
    <div id="loginbox">
        <div class="control-group normal_text"> 
            <h2 class="login_top">珠宝图鉴后台管理系统</h2>
        </div>
        <form id="loginform" class="form-vertical" method="post" action="login">
            <div class="control-group">
                <label class="control-label">用户名</label>
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_lg"><i class="icon-user" style="font-size:16px;"></i></span>
                        <input name="username" type="text"/>
                    </div>
                </div>
            </div>
            <div class="control-group2">
                <label class="control-label">密 码</label>
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_ly"><i class="icon-lock" style="font-size:16px;"></i></span>
                        <input name="password" type="password" />
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <span class="pull-right">
                	<input type="submit" id="checkBtn" class="btn btn-success" style="width:445px;" value=" 登&nbsp;&nbsp;&nbsp;&nbsp;录"/>
                </span>
            </div>
        </form>
		<div style="font-size:14px;color:gray; text-align:center; margin-top:20px;">版权所有 © 百泰集团信息管理中心</div>
    </div>
</body>

</html>
